.registerPage {
  background-color: var(--color-dark--1);
  height: 100vh;
  position: relative;
}
.registerPage .authform {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15%;
}
@media screen and (max-width: 20em) {
.registerPage .authform {
    bottom: 15%;
  }}

@media screen and (min-width: 20em) and (max-width: 40em) {

  .registerPage .authform {
    bottom: 15%;
  }
}

@media screen and (min-width: 40em) and (max-width: 60em) {
  
  
    .registerPage .authform {
      bottom: 12%;
    }
}

